{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block title %}NFS Perfumery{% endblock %}</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
  <link rel="stylesheet" href="{% static 'myapp/Style.css' %}">
</head>
<body>

<nav class="navbar">
    <div class="navbar-brand"
         style="display:flex;
         align-items: center;
         justify-content: center;
         width: 100%;">

        <span class="navbar-title"
              style="margin-right:10px;
              font-weight: bold;
              font-size: 20px;">
           Unforgettable
        </span>

        <a class="navbar-item" href="{% url 'index' %}" style="margin: 0 10px;">
        <img src="{% static 'myapp/Images/logo.png' %}" alt="NFS Logo">
      </a>

        <span class="navbar-title"
              style="margin-left:10px;
              font-weight: bold;
              font-size: 20px;">
            Scents
            </span>
    </div>

    <div class="navbar-burger" onclick="toggleMenu()">
        <span></span>
        <span></span>
        <span></span>
    </div>

    <div id="mainNavbar" class="navbar-menu">
      <div class="navbar-end">
        <a class="navbar-item" href="{% url 'index' %}">Home</a>
        <a class="navbar-item" href="{% url 'about' %}">About</a>
        <a class="navbar-item" href="{% url 'contact' %}">Contact</a>

        <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link">Featured Scents</a>
          <div class="navbar-dropdown">
            <a class="navbar-item" href="#">Spring Perfume Recommendations</a>
            <a class="navbar-item" href="#">Summer Perfume Recommendations</a>
            <a class="navbar-item" href="#">Autumn Perfume Recommendations</a>
            <a class="navbar-item" href="#">Winter Perfume Recommendations</a>
          </div>
        </div>
      </div>
    </div>
  </nav>


  <section class="section">
    <div class="container">
      {% block content %}{% endblock %}
    </div>

  </section>
</body>
<script>
    function toggleMenu() {
        const burger = document.querySelector('.navbar-burger');
        const menu = document.querySelector('.navbar-menu');
        burger.classList.toggle('is-active');
        menu.classList.toggle('is-active');
    }
</script>
</html>