{% extends 'myapp/base.html' %}
{% load static %}
{% block title %}Home - NFS Perfumery{% endblock %}

{% block content %}
   <style>
    body {
      background-color: white; /* Set the background to white */
    }
  </style>

  <h1 class="title">Welcome to NFS Perfumery</h1>


  <div class="carousel">
    <img src="{% static 'myapp/Images/FullCollection.jpg' %}" alt="Full Collection" class="active">
    <img src="{% static 'myapp/Images/ErbaPura.jpg' %}" alt="Erba Pura">
    <img src="{% static 'myapp/Images/GucciIntenseOud.jpg' %}" alt="Gucci Intense Oud">
    <img src="{% static 'myapp/Images/OudKohl.jpg' %}" alt="Oud Kohl">
    <img src="{% static 'myapp/Images/SantalPaoRosa.jpg' %}" alt="Santal Pao Rosa">
    <img src="{% static 'myapp/Images/Sauvage.jpg' %}" alt="Sauvage">
    <img src="{% static 'myapp/Images/SauvageElixir.jpg' %}" alt="Sauvage Elixir">
  </div>

  <script>
    let currentIndex = 0;
    const images = document.querySelectorAll('.carousel img');
    images [currentIndex].classList.add('active');
    setInterval(() => {
      images[currentIndex].classList.remove('active');
      currentIndex = (currentIndex + 1) % images.length;
      images[currentIndex].classList.add('active');
    } , 3000);
  </script>
    <a href="/{{ season }}-recommendations" class="button is-primary is-rounded">
View {{ season|capfirst }} Perfume Recommendations</a>
{% endblock %}
